<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="prompt">
      <h1>Login</h1>
			<!--<form action="/login" method="post">-->
			<form id="password_from">
        <section>
          <label for="username">Username</label>
          <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        </section>
        <section>
          <label for="current-password">Password</label>
          <input id="current-password" name="password" type="password" autocomplete="current-password" required>
        </section>
        <button id="password_submit" type="submit">Login</button>
      </form>
			<hr>
			<p id="login_error" ></p>
			<p class="login_help">Don't have an account? <a href="/signup">Sign up</a></p>
		</section>
		<script>
const element = document.getElementById("password_submit");
element.addEventListener('click', function(event) {
  event.preventDefault();
  fetch("", {
    method: "POST",
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify({
        username: document.getElementById("username").value,
        password: document.getElementById("current-password").value
      })
  }).then((res) => {
    if(res.status === 200){
        console.log('status 200 response:');
        console.log(res)
        window.location.replace('/');
    }
    if(res.status != 200){
        let code_message = 'Error 522: Missing post body / other Error';
        if(res.status === 520){
            code_message =  'Error 520: The given user was found, but the password does not match.'
        }
        if(res.status === 521){
            code_message =  'Error 521: The given user was not found.'
        }
        document.getElementById('login_error').innerText = code_message
    }
  });
})

		</script>
</body>
</html>
