body{
  background: #cfcfcf;
}

select {
  display: inline-block;
  width: 150px;
  padding: 0px;
  margin: 0px;
  min-height: 25px;
}

th{
  background: #afafaf;
  padding: 10px;
}

td{
  font-family: monospace;
  background: #efefef;
  padding: 10px;
}
