body{
  padding: 0px;
  margin: 0px;
  background: #cfcfcf;
}

h1,h2,h3,h4,p{
  margin: 0px;
}

select {
  display: inline-block;
  width: 150px;
  padding: 0px;
  margin: 0px;
  min-height: 25px;
}

label {
  display: inline-block;
  width: 150px;
}

th{
  background: #afafaf;
  padding: 10px;
}

td{
  font-family: monospace;
  background: #efefef;
  padding: 10px;
}

#header_wrap{
  padding: 0px;
  margin: 0px;
  height: 100px;
  background: rgba(255,255,255,0.5);
}

#user_wrap{

}

#nav_wrap{

}

#out{
    color: #000000;
    text-align: left;
    font-family: monospace;
    font-size: 12pt;
    text-shadow: 2px 2px 3px #000000;
}

